<!DOCTYPE html>
<html>

<head>
    <title>Remote Device Connector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        footer {
            text-align: center;
            padding: 3px;
            background-color: #f8f9fa;
            color: rgba(0, 0, 0, .9);
            width: 100%;
            bottom: 1px;
            position: fixed;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Remote Device Connector</a>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

    <br><br>
    <footer>
        Copyright &copy; Ramesh Murugan 2020 <br>
        &#128525; Love to hear from you: <a href="mailto:rameshacker666@gmail.com">&#128233;</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>